{% extends 'base.html' %}
{% load static %}
{% load highlight %}

{% block content %}

<div class="vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="col-6">
        <h1 class="mt-4" style="width: 100%;">TBing Search</h1>
    </div>
    <span class="mb-4"></span>
    <div class="col-12 mb-1">
        {% include 'search_bar.html' %}
    </div>
    <span class="mb-5">
        Made with 💚 by Pakuan CUDA
    </span>
    <span class="mb-4"></span>
</div>

{% endblock content %}